#employeeTable {
   display: inline-block;
   margin: 5px;
   border: 1px solid gray;
   padding: 10px;
   list-style-type: none;
   font-weight: bold;
   border-radius: 3px;
   
}
.head {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    
}